.chatsPanelDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: var(--c2);
    min-width: 100px;
    height: auto;
}

h2 {
    font-size: 30px;
    color: var(--c5);
    margin: 10px;
}

.peopleSearchDiv {
    width: 80%;
    display: flex;
    background-color: var(--c1);
    border-radius: 33px;
    height: 38px;

}
.searchInput {
    width: 85%;
    font-size: 17px;
    padding: 8px;
    border: none;
    color: var(--white);
    background-color: inherit;
    border-radius: 33px;
    outline: none;
    box-sizing: border-box;
} .searchInput::placeholder {
    color: var(--c3);
}
.searchImg {
    padding: 8px;
    width: 20px;
}


.friendsPanelHr {
    width: 90%;
    background-color: var(--c1);
    border: none;
    height: 3px;
    margin: 10px 0 10px 0;
}


.recentChatsLibrary {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow-y: scroll;
} .recentChatsLibrary::-webkit-scrollbar {
    width: 10px;
} .recentChatsLibrary::-webkit-scrollbar-track {
    background: #1e1e24;
} .recentChatsLibrary::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.rcBlock {
    width: 80%;
    height: auto;
    margin-bottom: 7px;
    background-color: var(--c1);
    border-radius: 10px;
    display: block;
    cursor: pointer;
}
.rcFlex {
    display: flex;
}
.rcMenu {
    display: flex;
    flex-direction: row-reverse;
} .rcKebabMenu {
    height: 22px;
    width: auto;
    padding: 0 12px 0 12px;
    margin: auto 0;
    float: right;
    opacity: 0.8;
} 
.rcImage {
    margin: auto;
} .rcImage * {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin: 7px;
    border-radius: 10px;
}
.rcText {
    width: 100%;
    overflow-x: scroll;
} .rcText::-webkit-scrollbar {
    display: none;
}
.textName {
    color: var(--white);    
    font-size: 18px;
    font-weight: 500;
    padding: 2px;
}
.textMessage {
    color: var(--c5);
    font-size: 16px;
}


.kebabContainer {
    display: flexbox;
    position: relative;
    background-color: var(--c1);
    cursor: auto;
    border-radius: inherit;
    margin-bottom: 7px;
}
.kebabBox {
    position: relative;
    display: flex;
    background-color: none;
    font-size: 13px;
    font-weight: 500;
    align-items: center;
    margin: 0 7px ;
    padding: 2px 0;
    border: none;
    height: 23px;
    width: auto;
} .kebabBox:hover {
    background-color: var(--c3);
}
.kebabHr {
    height: 1px;
    border: none;
    background-color: var(--c3);
    margin: 0 7px 0 7px;
}